body {
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}

.container {
    max-width: 400px;
}

#feels-like {
    font-size: max(12px, 1vw);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 40px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    box-shadow: 2px 2px 5px gray;
}

#aq {
    text-align: left;
    font-size: 0.3em;
    margin: 20px;
}
